
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: linear-gradient(45deg, #009de0 30%, #8246af 90%);
  background: linear-gradient(45deg, #009de0 30%, #8246af 90%);
}
#root {
  width: 100%;
}

.varient-bg{
  background-color: linear-gradient(45deg, #009de0 30%, #8246af 90%);
  background: linear-gradient(45deg, #009de0 30%, #8246af 90%);
}

.bg-blue-varient{
  background-color: #003865;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cm-pointer{
  cursor: pointer;
}
